<?xml version="1.0"?>

<config>
	<modules>
		<LikiMode_CreditApplication>
			<version>0.2.6</version>
		</LikiMode_CreditApplication>
	</modules>
	
	<global>
	
		 
		<helpers>
			<CreditApplication>
				<class>LikiMode_CreditApplication_Helper</class>
			</CreditApplication>
		</helpers>
		
		<models>
			<CreditApplication>
				<class>LikiMode_CreditApplication_Model</class>
				 
			</CreditApplication>	
			 
		</models>
		
		<blocks>
			<CreditApplication>
				<class>LikiMode_CreditApplication_Block</class>
			</CreditApplication>
		</blocks>
		
		<resources>
			<CreditApplication_setup>
				<setup>
					<module>LikiMode_CreditApplication</module>
				</setup>
				
				<connection>
					<use>core_setup</use>
				</connection>
			</CreditApplication_setup>
			
			<CreditApplication_write>
				<connection>
					<use>core_write</use>
				</connection>
			</CreditApplication_write>
			
			<CreditApplication_read>
				<connection>
					<use>core_read</use>
				</connection>
			</CreditApplication_read>
		</resources>
	</global>
	
	<default>
		<payment>
			<CreditApplication>
				<model>CreditApplication/standard</model>
				<active>1</active>
				<order_status>pending</order_status>
				<title>Pay by LeaseItKeepIt</title>
				<payment_action>sale</payment_action>
				<submit_url>http://liki.nisys.in/</submit_url>
				<merchant_id></merchant_id>
				<allowspecific>0</allowspecific>
				<sort_order>0</sort_order>
			</CreditApplication>
		</payment>
	</default>
	<frontend>
	 
		<layout>
            <updates>
                <creditApplication>
                    <file>creditapplication.xml</file>
                </creditApplication>
            </updates>
        </layout>
	</frontend>
 
	<admin>
		<routers>
			<CreditApplication>
				<use>admin</use>
				<args>
					<module>LikiMode_CreditApplication</module>
					<frontName>CreditApplication</frontName>
				</args>
			</CreditApplication>
		</routers>
	</admin>
 

</config> 
