<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <LikiextDisablestates_USDisableRegions>
            <version>1.0.0.0</version>
        </LikiextDisablestates_USDisableRegions>
    </modules>
    <global>
        <models>
            <USDisableRegions>
                <class>LikiextDisablestates_USDisableRegions_Model</class>
            </USDisableRegions>
            <directory_resource>
                <rewrite>
                    <region_collection>LikiextDisablestates_USDisableRegions_Model_Resource_Region_Collection</region_collection>
                </rewrite>
            </directory_resource>
        </models>
    </global>
</config>
