<?xml version="1.0"?>
<config>
	<modules>
        <LikiMode_Catalogsearch>
            <version>1.0.0</version>
        </LikiMode_Catalogsearch>
    </modules>

	<global>
	   <blocks>
		  <catalogsearch>
			<rewrite>
			   <result>LikiMode_CatalogSearch_Block_Result</result>
			 </rewrite>
		  </catalogsearch>
	   </blocks>
	</global>
</config>
